*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

i {
    color: blue;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    font-family: 'Poppins' , sans-serif;
    user-select: none;
    overflow-x: hidden;
}

i{
    cursor: pointer;
}
q {
    color: rgb(148, 147, 147);
}

.nav {
    width: 100%;
    background-color: rgb(228, 237, 237);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
}

.nav .nav-left {
    display: flex;
    gap: 2rem ;
    margin-left: 1rem;
}

.nav .nav-left i {
    margin-right: 5px;
    font-size: 1rem;
}

.nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem ;
    margin-right: 2rem;
}

.nav .nav-right i {
    margin-right: 5px;
    font-size: 20px;
}


.nav .nav-right .logo-right {
    display: flex;
    gap: 2px   ;
}

.nav .nav-right .logo-right i {
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

main .nav-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 5px rgb(168, 168, 168);
    z-index: 999;
    background-color: white;
}

main .nav-main .nav-main-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: blue;
    margin-left: 30px;
}

main .nav-main .nav-main-left i {
    font-size: 3rem;
}

main .nav-main .nav-main-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 14px;
    padding: 15px o;
}

main .nav-main .nav-main-right a{
    color: black;
    transition: all 0.2s ease;
}

main .nav-main .nav-main-right a:hover {
    color: blue;
}

main .nav-main .nav-main-right .a-4 {
    color: blue;
}

main .nav-main .nav-main-right .a-5 > i {
    font-weight: bold;
    font-size: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    animation: Move 0.4s ease-in-out;
  }

  @keyframes Move {
    0%{
        transform: translateY(80px);
        opacity: 30%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}


main .nav-main .nav-main-right .Appointment {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(13, 13, 234);
    padding: 30px;
    height: 75px;
    width: 220px;
    transition: all 0.4s ease;
    font-weight: bold;
}

main .nav-main .nav-main-right .Appointment:hover {
    background-color: rgb(10, 10, 190);
    color: white;
}

main .nav-main .nav-main-right .Appointment > i {
    color: white;
    font-size: 2rem;
}

main .header-img .img{
    width: 100%;
    height: 310px;
    background-image: url(/img/header-page.jpg);
    background-position: top;
    background-size: cover;
}

main .header-img .img {
    color: white;
    position: relative;
}

main .header-img .img .info-img {
    font-size: 2rem;
    position: absolute;
    top: 34%;
    left: 54px;
}

main .header-img .img .info-img h1 {
    margin-bottom: 15px;
}

main .header-img .img .info-img p  {
    font-size: 15px;
    color: blue;
    letter-spacing: 2px;
}

main .header-img .img .info-img a {
    color: white;
}

main .main-info {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2,40rem);
    gap: 5.6rem;
    margin-bottom: 10rem;
}

main .main-info .img {
    background-position: center;
    background-size: cover;
    background-image: url(/img/about-1.jpg);
    height: 450px;
    width: 29rem;
    border-radius: 10px;
    margin-left: 14rem;
    position: relative;
}

main .main-info .img::before {
    content: '';
    position: absolute;
    bottom: -12rem;
    left: -10rem;
    background-position: top;
    background-size: cover;
    background-image: url(/img/about-2.jpg);
    border: 15px solid white ;
    border-radius: 25px;
    height: 300px;
    width: 18rem;
}

main .main-info .main-div-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .main-info .main-div-info h3:first-child{
    width: 115px;
    height: 33px;
    font-weight: lighter;
    color: rgb(171, 168, 168);
    border: 1px solid rgb(128, 194, 220) ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
}

main .main-info .main-div-info h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

main .main-info .main-div-info p {
    color: rgb(132, 132, 132);
    font-size: 17px;
    font-weight: lighter;
    line-height: 1.5rem;
    width: 39rem;
}

main .main-info .main-div-info p:has(i) {
    display: flex;
    align-items: center;
    gap: 15px;
}

main .main-info .main-div-info button {
    width: 175px;
    height: 55px;
    border-radius: 30px;
    margin-top: 30px;
    background-color: blue;
    color: white;
    font-size: larger;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .main-info .main-div-info button:hover {
    background-color: rgb(10, 10, 190);
}

main .main-info-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .main-info-2 .main-div-info-2 {
    background-color: rgb(76, 76, 249);
    color: white;
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .main-info-2 .main-div-info-2 .aboutus {
    width: 115px;
    height: 33px;
    font-weight: lighter;
    border: 1px solid rgb(128, 194, 220) ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
}

main .main-info-2 .main-div-info-2 h1 {
    font-size: 40px;
}

main .main-info-2 .main-div-info-2 .first-p {
    font-size: larger;
    width: 37.8rem;
    line-height: 1.5rem;
}

main .main-info-2 .main-div-info-2 p {
    font-size: larger;
    line-height: 2rem;
}

main .main-info-2 .main-div-info-2 i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: blue;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

main .main-info-2 .main-div-info-2 .div-box-1-icon{
    display: flex;
    align-items: center;
    gap: 10rem;
}

main .main-info-2 .main-div-info-2 .div-box-2-icon:has(h3) {
    display: flex;
    align-items: center;
    gap: 11.2rem;
    font-weight: bolder;
}


main .main-info-2 .main-div-info-2 .div-box-1-icon .box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}


main .main-info-2 .main-div-info-2 .div-box-2-icon .box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main .main-info-2 .img {
    background-image: url(/img/feature.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

main .main-info-3 {
    padding: 70px;
    display: grid;
    place-items: center;
    gap: 3rem;
}

main .main-info-3 header {
    display: grid;
    place-items: center;
    gap: 1rem;
}


main .main-info-3 header h3 {
    width: 115px;
    height: 33px;
    font-weight: lighter;
    border: 1px solid rgb(128, 194, 220) ;
    border-radius: 30px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

main .main-info-3 header h1 {
    font-size: 2.5rem;
}


.main-div-info-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    position: relative;
    width: 38vmin;
    height: 55vmin;
    overflow: hidden;
}

.card > .image {
width: 37vmin;
object-fit: scale-down;
object-position: center center;
transition: all 0.3s ease;
border-radius: 9px;
}

.card:hover > .image {
    object-position: center -20px;
}
.card:hover > .card-info {
    bottom: -10px;
}



 .card-info {
    background-color: rgb(235, 247, 248);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
    width: 38vmin;
    padding: 30px;
    position: absolute;
    bottom: -70px;
    transition: all 0.3s ease;
}

main .main-info-3 .main-div-info-3 .card-info h3 {
    color: rgb(103, 103, 247);
}

main .main-info-3 .main-div-info-3 .card-info .card-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.card-info-icon i{
    font-size: 1.4rem;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s ease;
    /* opacity: 50%; */
}

.card:hover > i {
    opacity: 100%;
}

.card-info-icon i:hover {
   background-color: rgb(76, 76, 249);
   color: white;
}

footer {
    background-color: rgb(35, 35, 78);
    color: rgb(230, 229, 229);
    padding: 50px 60px;
}

footer .main-info .box-info i {
    color: rgb(238, 230, 230);
}
footer .end-of-footer i,a {
    color: white;
}

footer .main-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid cadetblue;
    padding: 40px 20px;
}

footer .main-info .box-info h2{
    margin-bottom: 1.8rem;
}

.box-info .info-contact-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 18px;
    margin-bottom: 1rem;
}

.box-info .info-contact-2 i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.box-info .info-contact-2 i:hover {
    background-color: white;
    color: blue;
}

.info-contact-1 > .info-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-info .info-1 {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-size: 16px;
}

.box-info .info-1 i {
    font-weight: bold;
}
.box-info .info-1 a {
    transition: all 0.3s ease;
}
.box-info .info-1 a:hover {
    color: blue;
    letter-spacing: 1.5px;
}
.box-info .info-1 a:hover > i {
    color: blue;
    letter-spacing: 1.3px;
}

.end-of-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.end-of-footer .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#GG p {
    font-size: 1rem;
    width: 17rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}
#GG form {
    position: relative;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

#GG form > input {
    position: absolute;
    height: 3.5rem;
    width: 17rem;
    border-radius: 6px;
    padding: 20px;
    font-size: 1rem;
}

#GG form > a {
    background-color: rgb(67, 67, 243);
    color: rgb(250, 241, 241);
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1rem;
    position: absolute;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.3s ease;
}
#GG form > a:hover {
    background-color: rgb(6, 6, 214);
}